.card-info.card-outline {
    padding: 0 15px 5px 15px;
    border-top: 4px solid #000;
    
}
 .teste{
    background-color: #c20a0acb;
    margin-right: 20px;
    margin-top: 10px;
 }

img{
    width: 150px;
    height: 150px;
}